.menu {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--menu-bg);
  color: var(--text-over-primary);
  transition: all 0.25s ease-in-out;
  padding: 1.3rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: var(--menu-box);
  border-radius: 0.8rem;
}

.menuLink:hover {
  border-color: var(--menu-border-hover);
  transform: translateY(-2px);
  box-shadow: var(--menu-box-hover);
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
  transition: all 0.2s ease-in-out;
  color: var(--menu-img);
}

.menuLink:hover svg{
    color:var(--menu-img-hover);
}