:root {
  --gray-100: #f8fafc;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e1;
  --gray-400: #94a3b8;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1e293b;
  --gray-900: #0b1220;

  --primary-light: #60cefa;
  --primary: #1a85ff;
  --primary-dark: #1e40af;

  --link-color: #60a5fa;
  --link-hover: #93c5fd;

  --success: #22c55e;
  --warning: #f59e0b;
  --error: #ef4444;
  --info: #38bdf8;

  --countdown-gradient: linear-gradient(
    180deg,
    #FFFFFF 0%,
    #F4F8FF 25%,
    #DCE7FF 70%,
    #C6D7FF 100%
    );
    --countdown-shadow: drop-shadow(0 0 10px rgba(120,170,255,.08));

  --text-over-primary: #0a0f1a;
  --text-over-primary-dark: #e6e9f0;
  --text-over-primary-light: #0a0f1a;
  --text-over-success: #0a0f1a;
  --text-over-warning: #0a0f1a;
  --text-over-error: #e6e9f0;
  --text-over-info: #0a0f1a;

  --text-default: #e6e9f0;
  --text-muted: #aab3cc;

  --disabled: #555f7d;
  --text-disabled: #aab3cc;
}

:root[data-theme="light"] {
  --gray-100: #0a0f1a;
  --gray-200: #181f2e;
  --gray-300: #272f43;
  --gray-400: #363d56;
  --gray-500: #454f6a;
  --gray-600: #555f7d;
  --gray-700: #aab3cc;
  --gray-800: #cdd3e1;
  --gray-900: #e6e9f0;

  --text-default: #0a0f1a --text-muted: #272f43;

  --countdown-gradient: linear-gradient(
    180deg,
    #0F172A 0%,
    #1E293B 40%,
    #334155 100%
    );
    --countdown-shadow: none;

  --link-color: #0b8a60;
  --link-hover: #065f46;
}
